body {
	font-family: helvetica;
}

h1{
	text-align: center;
}

img {
	max-width: 100%;
	height: auto;
}

table {
	border-collapse: collapse;
}

th, td {
	border-bottom: 1px solid #ddd;
	padding: 10px
}

td.price {
	color: #777;
}

.not_recommended {
	color: red;
	font-weight: bold;
}
