body {
	font-family: helvetica;
}

h1{
	text-align: center;
}

table {
	border-collapse: collapse;
}

th, td {
	border-bottom: 1px solid #ddd;
	padding: 10px
}

td.price {
	color: #777;
}

.not_recommended {
	color: red;
	font-weight: bold;
}

.container{
	width: 100%;
	text-align: center;
	margin: 0 auto;
}

.portfolio {
	display: inline-block;
	width: 40%;
	clear: both;
	margin: 20px;
	padding: 20px;
}

.portfolio-img{
	height: 75%;
	overflow: scroll;
}

.portfolio img{
	width: 100%;
}

@media only screen and (orientation: portrait){
	.portfolio{
		width: 90%;
		margin: 0 auto;
		height: 50%;
	}

	.portfolio img{
		width: 100%;
		height: auto;
	}
}
